*DS_Store
Bash-Scripts/
DockerSimpleDemo/
archtex/
bash-collections/
csvkit_tutorial/
dbt-p/
dbt-practices/
demo_snowflake_dbt/
file1
git-practices/
git-t/
glue_code/
myRepo/
pengui
penguin.csv
test.json
test/
